<div class="wrapper" >
    <header class="main-header" >
        <!-- Logo -->
        <a class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>YL</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Yaffa Library</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a class="sidebar-toggle" data-toggle="offcanvas" role="button" data-ng-click="vm.sideBar(1);">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu" style="background-color: #a6a6a6;">
                <ul class="nav navbar-nav"  >
                    <li class="dropdown notifications-menu hidden-xs hidden-sm" ng-show="vm.userlocal.isAdmin">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-book"></i> &nbsp; Books Handling
                        </a>
                        <ul class="dropdown-menu" >
                            <li>
                                <ul class="menu">
                                    <li ui-sref="app.booksHandling">
                                        <a>
                                            <i class="glyphicon glyphicon-book"></i> Books
                                        </a>
                                    </li>
                                    <li ui-sref="app.authorsHandling">
                                        <a>
                                            <i class="glyphicon glyphicon-user"></i> Authors
                                        </a>
                                    </li>
                                    <li ui-sref="app.languagesHandling">
                                        <a>
                                            <i class="glyphicon glyphicon-font"></i> Languages
                                        </a>
                                    </li>
                                    <li ui-sref="app.categoriesHandling">
                                        <a >
                                            <i class="glyphicon glyphicon-check"></i> Categories
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>



                    <li class="dropdown notifications-menu hidden-xs hidden-sm" ng-show="vm.userlocal.isAdmin">
                        <a class="dropdown-toggle" data-toggle="dropdown"ui-sref="app.roomsHandling">
                            <i class="glyphicon glyphicon-indent-left"></i> &nbsp; Rooms
                        </a>
                    </li>
                    <li class="dropdown notifications-menu hidden-xs hidden-sm" ui-sref="app.eventsHandling" ng-show="vm.userlocal.isAdmin">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-calendar"></i> Events

                        </a>
                    </li>

                    <li class="dropdown notifications-menu hidden-xs hidden-sm" ui-sref="app.booksOrderingHandling"ng-show="vm.userlocal.isAdmin" >
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-shopping-cart"></i> &nbsp; Book Ordering
                        </a>
                    </li>
                    <li class="dropdown notifications-menu hidden-xs hidden-sm" ui-sref="app.people" ng-show="vm.userlocal.isAdmin">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>  &nbsp; People
                        </a>
                    </li>
                    <li class="dropdown notifications-menu hidden-xs hidden-sm" ng-show="vm.userlocal.isAdmin">
                        <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="app.ordersHandling">
                            <i class="glyphicon glyphicon-comment"></i> &nbsp; Messages &nbsp; <span class="label label-warning"> {{vm.userlocal.MessagesLength}}</span>
                        </a>
                    </li>




                  <!--  <li class="dropdown notifications-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-gears"></i> Themes
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <ul class="menu">
                                    <li data-ng-repeat="theme in vm.themes" data-ng-click="vm.setTheme(theme.color);">
                                        <a>
                                            <i class="fa fa-flag{{theme.icon}} text-{{theme.theme}}"></i>{{theme.title}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>-->

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="images/ranjith.png" class="user-image" alt="User Image" />
                            <span class="hidden-xs">{{vm.userlocal.firstName}} &nbsp; {{vm.userlocal.lastName}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="images/ranjith.png" class="img-circle" alt="User Image">
                                
                                    <h3>  {{vm.userlocal.firstName}} &nbsp; {{vm.userlocal.lastName}}  </h3>
                                <p class="text-center">
                                   ID: {{vm.userlocal.id}}
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">

                                <div class="pull-right">
                                    <a ui-sref="app.setting" class="btn btn-success btn-flat">AboutMe</a>
                                    <a ui-sref="app.ordersHandling" class="btn btn-facebook btn-flat">Messages  <span class="label label-warning"> {{vm.userlocal.MessagesLength}}</span></a>
                                    <a ui-sref="login" class="btn btn-danger btn-flat">LogOut</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar -->

            <!-- Sidebar user panel -->
            <div class="user-panel" ng-click="vm.GoToSetting()" >
                <div style="min-height: 40px">

                </div>
                <div class="pull-left image">
                    <img src="images/ranjith.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p >Profile </p>
                    <span class="text-aqua text-sm"> {{vm.userlocal.firstName}} &nbsp; {{vm.userlocal.lastName}}</span>
                </div>
            </div>
            <!-- search form -->
      <!--      <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <a ui-sref="app.search}">
                    <span> Search </span>
                    &lt;!&ndash;<input type="text" name="q" class="form-control" placeholder="Search...">&ndash;&gt;
                    <span class="input-group-btn">
                        <button type="button" name="search" id="search-btn" class="btn btn-flat" data-ng-click="vm.search();"><i class=" fa fa-search"></i></button> &lt;!&ndash;Going to Search page&ndash;&gt;
                    </span>
                        </a>
                </div>
            </form>-->


<br>

            <!-- /.search form -->
            <ul class="sidebar-menu">
                <li class="treeview" ui-sref-active="active" ng-click="vm.sideBar();" data-ng-repeat="menu in vm.menuItems">
                    <a ui-sref="app.{{menu.state}}" ng-show="menu.isToShow">
                        <i class="fa fa-{{menu.icon}}"></i> <span>{{menu.title}}  &nbsp;  <span class="label label-warning " ng-show="menu.title=='Messages'">{{vm.userlocal.MessagesLength}}</span></span>
                    </a>


                </li>
               <!-- <li class="treeview" ui-sref-active="active" ng-click="vm.sideBar();">
                    <a href="https://github.com/ranjithprabhuk/Angular-Bootstrap-Dashboard" target="_blank">
                        <i class="fa fa-github"></i> <span>View in Github</span>
                    </a>
                </li>-->
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper"  >
        <ui-view></ui-view>
        </div>
  <!--  </div>

        <footer class="main-footer" >
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; Kholod Khatib </strong> All rights reserved.
        </footer>
    </div>-->
