<!--
Author: Ranjithprabhu K
Page Description:  booksHandling page
Date: 15 Jan 2016
-->
<style>

    .table th:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .table .action-column{
        width: 230px;
    }
    .table .action-column:hover{
        text-decoration: none;
        cursor: default;
    }
    .table tfoot .pagination{
        float: right;
        margin: 0;
    }
    .table tfoot .pagination li{
        cursor: pointer;
    }
    .table tfoot select{
        width: 90px;
        float: right;
        margin-right: 8px;
    }
</style>
        <!-- Content Header (Page header) -->
        <section class="content-header" >
          <h1>
        Books Information


          </h1>
            <br>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Books Handling</li>
          </ol>
        </section>




<table class="table table-hover table-bordered" st-table>
<thead>
<tr>
    <th ng-click="predicate='FirstName'; reverse=!reverse">ID</th>
    <th ng-click="predicate='FirstName'; reverse=!reverse">Title</th>
    <th ng-click="predicate='FirstName'; reverse=!reverse">Description</th>
    <th ng-click="predicate='FirstName'; reverse=!reverse">Publish Year</th>
    <th ng-click="predicate='FirstName'; reverse=!reverse">Author</th>
    <th ng-click="predicate='FirstName'; reverse=!reverse">Category</th>

    <th ng-click="predicate='FirstName'; reverse=!reverse">Language</th>
    <th ng-click="predicate='FirstName'; reverse=!reverse">In use?</th>



    <th>Actions</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="books in vm.booksArray ">
    <td>{{books._id}}</td>

   <!-- <td>
        &lt;!&ndash; editable username (text with validation) &ndash;&gt;
        <span editable-text="books.title" e-name="name" e-form="rowform" onbeforesave="vm.checkName($data, user.id)" e-required>
          {{books.title || 'empty' }}
        </span>
    </td>

    <td> {{books.description || 'empty'}}</td>
    <td> {{books.year }}</td>
    <td> {{books.author }}</td>
    <td> {{books.category }}</td>
    <td> {{books.language }}</td>
    <td> {{books.available }}</td>-->




    <td>  {{books.title}} </td>
    <td> {{books.description }}</td>
    <td> {{books.publishYear }}</td>
    <td> {{books.author }}</td>
    <td> {{books.category }}</td>
    <td> {{books.language }}</td>
    <td> {{books.available }}</td>

    <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="vm.saveUser($data, books._id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == books">
            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                save
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                cancel
            </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
            <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
            <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
        </div>
    </td>

  <!--  <td class="action-column">

        <button type="button" class="btn btn-info btn-sm" ng-click="Edit(contact)">Edit</button>
    </td>
    <td>
        <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-remove-circle">
            </i>
        </button>
    </td>-->
</tr>
</tbody>
    <button type="button" class="btn btn-info btn-sm" ng-click="vm.showAdvanced($event)">Add New Book</button>

</table>



<script type="text/ng-template" id="dialog1.tmpl.html"><md-dialog aria-label="New Book"  ng-cloak>
<form>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Book</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">




            <form class="form-horizontal" role="form">
                <table>
                <div class="row">
                    <label class="col-lg-3 control-label">title:</label>
                    <div class="col-lg-6">
                        <input class="form-control" ng-model="book.title" type="text">
                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="col-lg-3 control-label">author:</label>
                    <div class="col-lg-6">
                        <input class="form-control" ng-model="book.author" type="text">
                    </div>
                </div> <br>
                <div class="row">
                    <label class="col-lg-3 control-label">description:</label>
                    <div class="col-lg-6">
                        <input class="form-control" ng-model="book.description" type="text">
                    </div>
                </div> <br>

                <div class="row">
                    <label class="col-lg-3 control-label">category:</label>
                    <div class="col-lg-6">
                        <input class="form-control"  ng-model="book.category" type="text">
                    </div>
                </div> <br>


                <div class="row">
                    <label class="col-lg-3 control-label">year:</label>
                    <div class="col-lg-6">
                        <input class="form-control" ng-model="book.year" type="text">
                    </div>
                </div> <br>

                <div class="row">
                    <label class="col-lg-3 control-label">language:</label>
                    <div class="col-lg-6">
                        <input class="form-control" ng-model="book.language" type="text">
                    </div>
                </div> <br>

                </table>


        </form>
            </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <!--      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                  More on Wikipedia
              </md-button>
              <span flex></span>-->
        <md-button ng-click="CreateNewBook()">
            Save
        </md-button>
        <md-button ng-click="answer('useful')">
            Close
        </md-button>
    </md-dialog-actions>
    <label>
        book= {{book | json}}
    </label>

</form>
</md-dialog>
</script>