<!--
Author: Kholod Khatib
Page Description:  authorsHandling page
Date: 15 Jan 2016
-->
<style>
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .table th:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .table .action-column {
        width: 230px;
    }

    .table .action-column:hover {
        text-decoration: none;
        cursor: default;
    }

    .table tfoot .pagination {
        float: right;
        margin: 0;
    }

    .table tfoot .pagination li {
        cursor: pointer;
    }

    .table tfoot select {
        width: 90px;
        float: right;
        margin-right: 8px;
    }

    input[type=radio   ]:not(old) {
        width: 35px;
        margin: 0;
        padding: 0;
        opacity: 0;
        background-color: #005384;
    }

    .radio-inline input {
        list-style: none;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #00733e;
    }

    /*body{
        background: #343d46;
    }*/

    .box {
        width: 300px;
        height: 30px;
    }

    .container-1 {
        width: 300px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
    }

    .container-1 input#search {
        width: 300px;
        height: 50px;
        background: #2b303b;
        border: none;
        font-size: 10pt;
        float: left;
        color: #63717f;
        padding-left: 45px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .container-1 input#search::-webkit-input-placeholder {
        color: #65737e;
    }

    .container-1 input#search:-moz-placeholder {
        /* Firefox 18- */
        color: #65737e;
    }

    .container-1 input#search::-moz-placeholder {
        /* Firefox 19+ */
        color: #65737e;
    }

    .container-1 input#search:-ms-input-placeholder {
        color: #65737e;
    }

    .container-1 .icon {
        position: absolute;
        top: 50%;
        margin-left: 17px;
        margin-top: 17px;
        z-index: 1;
        color: #4f5b66;
    }
</style>


<style>

    .btn-red {
    @include round-button(#E53030);
    }

    .btn-blue {
    @include round-button;
    }
</style>


<style>


    table.ex2 {
        border-collapse: separate;
        border-spacing: 10px 10px;
    }
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Books Ordering Information


    </h1>
    <br>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Book Ordering Handling</li>
    </ol>
</section>

<table>
    <tr>
        <td>
            <button class="btn btn-default" ng-click="vm.getStatusFilter('')">
                All
            </button>
        </td>
        <td>
            <button class="btn btn-primary" ng-click="vm.getStatusFilter('Pending')">
                Pending
            </button>
        </td>
        <td>
            <button class="btn btn-success" ng-click="vm.getStatusFilter('InProgress')">
                InProgress
            </button>
        </td>
        <td>
            <button class="btn btn-info" ng-click="vm.getStatusFilter('OnGoing')">
                OnGoing
            </button>
        </td>
        <td>
            <button class="btn btn-warning" ng-click="vm.getStatusFilter('Finished')">
                Finished
            </button>
        </td>
        <td>
            <button class="btn btn-danger" ng-click="vm.getStatusFilter('Cancelled')">
                Cancelled
            </button>
        </td>
    </tr>
</table>
<div class="box">
    <div class="container-1">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input ng-model="vm.searchStatus.bookTitle" type="search" id="search" placeholder="Search..."/>
    </div>
</div>
<br>
<table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th ng-click="predicate='FirstName'; reverse=!reverse">Book Ttile</th>
        <th ng-click="predicate='FirstName'; reverse=!reverse">User ID</th>
        <th ng-click="predicate='FirstName'; reverse=!reverse">Issue Date</th>
        <th ng-click="predicate='FirstName'; reverse=!reverse">Due Date</th>
        <th ng-click="predicate='FirstName'; reverse=!reverse">Finish Date</th>
        <th ng-click="predicate='FirstName'; reverse=!reverse">Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="bookOrdering in vm.booksOrderingArray | filter: vm.searchStatus" >
        <td> {{bookOrdering.bookTitle}}</td>
        <td> {{bookOrdering.userID }}</td>
        <td> {{bookOrdering.issueDate}}</td>
        <td> {{bookOrdering.dueDate }}</td>
        <td> {{bookOrdering.finishDate}}</td>

        <td ng-class="{'success':bookOrdering.status == 'InProgress' || bookOrdering.status == 'Pending' , 'danger':  bookOrdering.status == 'Cancelled',
        'info':  bookOrdering.status == 'OnGoing', 'warning':  bookOrdering.status == 'Finished'}">

            {{bookOrdering.status}}</td>
        <td class="action-column">
            <button type="button" class="btn btn-info btn-sm" ng-click="vm.showEditDialog($event,bookOrdering)"><span
                    class="glyphicon glyphicon-edit"></span>&nbsp; Edit
            </button>
        </td>
    </tr>


    </tbody>
    <button type="button" class="btn btn-info btn-sm" ng-click="vm.showAdvanced($event)">Add New Order</button>

</table>

<!--add new-->

<script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog
    aria-label="New Order"  ng-cloak style="max-width: 40%;">
    <form>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Order</h2>
                <!-- <span flex></span>-->

            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">


                <form class="form-horizontal" role="form">
                    <table class="ex2">


                        <tr>
                            <td>
                                <div class="row">
                                    <label class="col-lg-6 control-label">This Order for user: </label>

                                    <div class="col-lg-6">
                                        <angucomplete id="ex1"
                                                      placeholder="Search People"
                                                      pause="100"
                                                      selectedobject="selectedPerson"
                                                      localdata="peopleArray"
                                                      searchfields="firstName,lastName"
                                                      titlefield="firstName,lastName"
                                                      minlength="1"
                                                      inputclass="form-control form-control-small" autocomplete="off"/>
                                    </div>
                                </div>
                            </td>


                        </tr>

                        <tr>
                            <td>
                                <div class="row">
                                    <label class="col-lg-6 control-label">Choose Book: </label>

                                    <div class="col-lg-6">
                                        <!--<input class="form-control" ng-model="bookOrdering.issueDate" type="text">-->
                                        <angucomplete id="ex1"
                                                      placeholder="Search book"
                                                      pause="100"
                                                      selectedobject="selectedBook"
                                                      localdata="booksArray"
                                                      searchfields="title"
                                                      titlefield="title"
                                                      minlength="1"
                                                      inputclass="form-control form-control-small" autocomplete="off"/>
                                    </div>
                                </div>
                                <label class="col-lg-8 control-label"
                                       ng-show="selectedBook.originalObject.bookStatus=='Not Available'"
                                       style="color: red">this book is not available </label>

                            </td>


                        </tr>


                        <tr>
                            <td>
                                <div class="row">
                                    <label class="col-lg-6 control-label">issueDate:</label>

                                    <div class="col-lg-6">
                                        <input class="form-control" ng-model="bookOrdering.issueDate" type="text">
                                    </div>
                                </div>
                            </td>


                        </tr>

                    </table>


                </form>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button ng-click="CreateNewBookOrdering()">
                Save
            </md-button>
            <md-button ng-click="answer('useful')">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
    </md-dialog>
</script>


<script type="text/ng-template" id="dialog2.tmpl.html">
    <md-dialog
    aria-label="Edit Order"  ng-cloak>
    <form>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Order</h2>
                <span flex></span>

            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">


                <form class="form-horizontal" role="form">
                    <table class="ex2">


                        <td>
                            <div class="row">
                                <label class="col-lg-4 control-label">Status:</label>

                                <div class="col-lg-8">


                                    <table>
                                        <tr>
                                            <td>
                                                <button class="btn btn-primary" ng-model="bookOrderingForEdit.status"
                                                        value="Pending" ng-click="getDateForOnGoing('Pending')">
                                                    Pending
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-success" type="radio"
                                                        ng-model="bookOrderingForEdit.status" value="InProgress"
                                                        ng-click="getDateForOnGoing('InProgress')">
                                                    InProgress
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-info" type="radio"
                                                        ng-model="bookOrderingForEdit.status" value="OnGoing"
                                                        ng-click="getDateForOnGoing('OnGoing')">
                                                    OnGoing
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-warning" type="radio"
                                                        ng-model="bookOrderingForEdit.status" value="Finished"
                                                        ng-click="getDateForOnGoing('Finished')">
                                                    Finished
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" type="radio"
                                                        ng-model="bookOrderingForEdit.status" value="Cancelled"
                                                        ng-click="getDateForOnGoing('Cancelled')">
                                                    Cancelled
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                    <label>{{bookOrderingForEdit.status}}</label>
                                </div>
                            </div>
                        </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="row">
                                    <label class="col-lg-4 control-label">issueDate:</label>

                                    <div class="col-lg-8">
                                        <input class="form-control" ng-model="bookOrderingForEdit.issueDate"
                                               type="text">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <label class="col-lg-4 control-label">dueDate:</label>

                                    <div class="col-lg-8">
                                        <input class="form-control" ng-model="bookOrderingForEdit.dueDate" type="text">
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="row">
                                    <label class="col-lg-4 control-label">finishDate:</label>

                                    <div class="col-lg-8">
                                        <input class="form-control" ng-model="bookOrderingForEdit.finishDate"
                                               type="text">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div
                                     ng-show="showLoading"
                                     class="loader">

                                </div>
                            </td>
                        </tr>

                    </table>


                </form>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="EditBookOrdering()">
                Save
            </md-button>
            <md-button ng-click="answer('useful')">
                Close
            </md-button>
        </md-dialog-actions>

    </form>
    </md-dialog>
</script>


<script type="text/ng-template" id="dialog3.tmpl.html">
    <md-dialog
    aria-label="Delete Order"  ng-cloak>
    <form>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Delete Order</h2>
                <span flex></span>

            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">


                <form class="form-horizontal" role="form">


                    <label> Are You suye you want to delete this Order &nbsp ?</label>

                </form>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button ng-click="DeleteBookOrdering()">
                Yes
            </md-button>
            <md-button ng-click="answer('useful')">
                No
            </md-button>
        </md-dialog-actions>


    </form>
    </md-dialog>
</script>