<!--
Author: Ranjithprabhu K
Page Description:  languageHandling page
Date: 15 Jan 2016
-->
<style>

    .table th:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .table .action-column{
        width: 230px;
    }
    .table .action-column:hover{
        text-decoration: none;
        cursor: default;
    }
    .table tfoot .pagination{
        float: right;
        margin: 0;
    }
    .table tfoot .pagination li{
        cursor: pointer;
    }
    .table tfoot select{
        width: 90px;
        float: right;
        margin-right: 8px;
    }
</style>

<style>

    .box{
        width: 300px;
        height: 30px;
    }

    .container-1{
        width: 300px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
    }
    .container-1 input#search{
        width: 300px;
        height: 50px;
        background: #2b303b;
        border: none;
        font-size: 10pt;
        float: left;
        color: #63717f;
        padding-left: 45px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .container-1 input#search::-webkit-input-placeholder {
        color: #65737e;
    }

    .container-1 input#search:-moz-placeholder { /* Firefox 18- */
        color: #65737e;
    }

    .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
        color: #65737e;
    }

    .container-1 input#search:-ms-input-placeholder {
        color: #65737e;
    }


    .container-1 .icon{
        position: absolute;
        top: 50%;
        margin-left: 17px;
        margin-top: 17px;
        z-index: 1;
        color: #4f5b66;
    }
</style>

<style>


    table.ex2 {
        border-collapse: separate;
        border-spacing: 10px 10px;
    }
</style>
        <!-- Content Header (Page header) -->
        <section class="content-header" >
          <h1>
        Languages Information


          </h1>
            <br>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Languages Handling</li>
          </ol>
        </section>



<div class="box">
    <div class="container-1">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input ng-model="vm.searchFilter" type="search" id="search" placeholder="Search..." />
    </div>
</div>
<br>


<!--<table class="table table-hover table-bordered" st-table>-->
<table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
<thead>
<tr>
<!--
    <th ng-click="predicate='FirstName'; reverse=!reverse">Code</th>
-->
    <th ng-click="predicate='FirstName'; reverse=!reverse">Name</th>

    <th>Actions</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="language in vm.languagesArray | filter: vm.searchFilter ">




<!--
    <td>  {{language.code}} </td>
-->
    <td> {{language.name }}</td>

    <td class="action-column">
        <button type="button" class="btn btn-info btn-sm"  ng-click="vm.showEditDialog($event,language)"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</button>

        <button type="button" class="btn btn-danger btn-sm"  ng-click="vm.showDeleteDialog($event,language)"> <span class="glyphicon glyphicon-trash"></span> &nbsp; Delete</button>
    </td>


</tr>
</tbody>
    <button type="button" class="btn btn-info btn-sm" ng-click="vm.showAdvanced($event)">Add New Language</button>

</table>



<script type="text/ng-template" id="dialog1.tmpl.html"><md-dialog aria-label="New Language"  ng-cloak style="max-width: 40%;">
<form >

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Language</h2>
           <!-- <span flex></span>-->

        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">




            <form class="form-horizontal" role="form">
                <table  class="ex2" >


                    <tr>
                     <!--   <td>
                <div class="row">
                    <label class="col-lg-4 control-label">Code:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="language.code" type="text">
                    </div>
                </div>
                        </td>-->

                        <td>
                <div class="row">
                    <label class="col-lg-4 control-label">name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="language.name" type="text">
                    </div>
                </div>
                        </td>
                        </tr>

                </table>


        </form>
            </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <!--      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                  More on Wikipedia
              </md-button>
              <span flex></span>-->
        <md-button ng-click="CreateNewLanguage()">
            Save
        </md-button>
        <md-button ng-click="answer('useful')">
            Close
        </md-button>
    </md-dialog-actions>
   <!-- <label>
        book= {{book | json}}
    </label>-->

</form>
</md-dialog>
</script>











<script type="text/ng-template" id="dialog2.tmpl.html"><md-dialog aria-label="Edit Language"  ng-cloak>
<form>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Language</h2>
            <span flex></span>

        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">




            <form class="form-horizontal" role="form">
                <table  class="ex2" >


                    <tr>
                        <!--<td>
                            <div class="row">
                                <label class="col-lg-4 control-label">Code:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" ng-model="languageForEdit.code" type="text">
                                </div>
                            </div>
                        </td>-->

                        <td>
                            <div class="row">
                                <label class="col-lg-4 control-label">Name:</label>
                                <div class="col-lg-8">
                                    <input class="form-control" ng-model="languageForEdit.name" type="text">
                                </div>
                            </div>
                        </td>
                    </tr>

                </table>


            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <!--      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                  More on Wikipedia
              </md-button>
              <span flex></span>-->
        <md-button ng-click="EditLanguage()">
            Save
        </md-button>
        <md-button ng-click="answer('useful')">
            Close
        </md-button>
    </md-dialog-actions>
    <!--   <label>
       </label>-->

</form>
</md-dialog>
</script>






<script type="text/ng-template" id="dialog3.tmpl.html"><md-dialog aria-label="Delete Language"  ng-cloak>
<form>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Delete Language</h2>
            <span flex></span>

        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">




            <form class="form-horizontal" role="form">


                <label> Are You suye you want to delete Language: {{languageForDelete.name}} &nbsp ?</label>

            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <!--      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                  More on Wikipedia
              </md-button>
              <span flex></span>-->
        <md-button ng-click="DeleteLanguage()">
            Yes
        </md-button>
        <md-button ng-click="answer('useful')">
            No
        </md-button>
    </md-dialog-actions>


</form>
</md-dialog>
</script>