<!--
Author: Ranjithprabhu K
Page Description: People page
Date: 15 Jan 2016
-->
<style>

    .table th:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .table .action-column{
        width: 230px;
    }
    .table .action-column:hover{
        text-decoration: none;
        cursor: default;

    }
    .table tfoot .pagination{
        float: right;
        margin: 0;
    }
    .table tfoot .pagination li{

        cursor: pointer;
    }
    .table tfoot select{

        width: 90px;
        float: right;
        margin-right: 8px;
    }
</style>


<style>


    table.ex2 {
        border-collapse: separate;
        border-spacing: 1px 1px;
    }
</style>
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
        People Information
          </h1>
            <br>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">People</li>
          </ol>
        </section>




<table class="table table-hover table-bordered" st-table>
<thead>
<tr>
    <th ng-click="predicate='FirstName'; reverse=!reverse">ID</th>
    <th ng-click="predicate='FirstName'; reverse=!reverse">Full Name</th>
    <th ng-click="predicate='FirstName'; reverse=!reverse">Gender</th>
    <th ng-click="predicate='FirstName'; reverse=!reverse">Email</th>
    <th ng-click="predicate='FirstName'; reverse=!reverse">Address</th>
    <th ng-click="predicate='FirstName'; reverse=!reverse">Birthday</th>
    <th ng-click="predicate='FirstName'; reverse=!reverse">Is Admin</th>

    <th>Actions</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="person in vm.peopleArray ">
    <td>{{person.id}}</td>

    <td>{{person.firstName}}  &nbsp;{{person.lastName}} </td>
    <td>{{person.gender}}</td>
    <td>{{person.email}}</td>
  <td>{{person.address }}</td>
  <td>{{person.birthday }}</td>
    <td>{{person.isAdmin }}</td>
    <td class="action-column">
        <button type="button" class="btn btn-info btn-sm"  ng-click="vm.showEditDialog($event,person)">Edit</button>
    </td>
    <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="vm.saveUser($data, person._id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == person">
            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                save
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                cancel
            </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
            <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
            <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
        </div>
    </td>
</tr>
</tbody>
    <button type="button" class="btn btn-info btn-sm" ng-click="vm.showAdvanced($event)">Add New Person</button>

</table>


<script type="text/ng-template" id="dialog1.tmpl.html"><md-dialog aria-label="New Person"  ng-cloak>
<form>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Person</h2>
            <span flex></span>

        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">




            <form class="form-horizontal" role="form">
                <table class="ex2">
                    <tr>
                        <td colspan="2">
                    <div class="row">
                        <label class="col-lg-2 control-label">ID:</label>
                        <div class="col-lg-6">
                            <input class="form-control" ng-model="person.id" type="text">
                        </div>
                    </div>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                    <div class="row">
                        <label class="col-lg-3 control-label">firstName:</label>
                        <div class="col-lg-6">
                            <input class="form-control" ng-model="person.firstName" type="text">
                        </div>
                    </div>
                            </td>
                        <td>
                    <div class="row">
                        <label class="col-lg-3 control-label">lastName:</label>
                        <div class="col-lg-6">
                            <input class="form-control" ng-model="person.lastName" type="text">
                        </div>
                    </div>
                        </td>
</tr>
                    <tr>
                        <td>
                    <div class="row">
                        <label class="col-lg-3 control-label">gender:</label>
                        <div class="col-lg-6">
                            <input class="form-control"  ng-model="person.gender" type="text">
                        </div>
                    </div>
                            </td>

                        <td>
                    <div class="row">
                        <label class="col-lg-3 control-label">email:</label>
                        <div class="col-lg-6">
                            <input class="form-control" ng-model="person.email" type="text">
                        </div>
                    </div>
                        </td>
</tr>
                    <tr>
                        <td>
                    <div class="row">
                        <label class="col-lg-3 control-label">address:</label>
                        <div class="col-lg-6">
                            <input class="form-control" ng-model="person.address" type="text">
                        </div>
                    </div>
                            </td>
                        <td>
                    <div class="row">
                        <label class="col-lg-3 control-label">birthday:</label>
                        <div class="col-lg-6">
                            <input class="form-control" ng-model="person.birthday" type="text">
                        </div>
                    </div>
                        </td>
</tr>
                    <tr>
                        <td>
                    <div class="row">
                        <label class="col-lg-3 control-label">password:</label>
                        <div class="col-lg-6">
                            <input class="form-control" ng-model="person.password" type="text">
                        </div>
                    </div>
                            </td>
                        <td>
                    <div class="row">
                        <label class="col-lg-3 control-label">isAdmin:</label>
                        <div class="col-lg-6">
                            <input class="form-control" ng-model="person.isAdmin" type="text">
                        </div>
                    </div>
                        </td>
                    </tr>
                </table>


            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <!--      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                  More on Wikipedia
              </md-button>
              <span flex></span>-->
        <md-button ng-click="CreateNewPeople()">
            Save
        </md-button>
        <md-button ng-click="answer('useful')">
            Close
        </md-button>
    </md-dialog-actions>
       <!-- <label>
            person= {{person | json}}
        </label>-->

</form>
</md-dialog>
</script>


















<script type="text/ng-template" id="dialog2.tmpl.html"><md-dialog aria-label="Edit Person"  ng-cloak>
<form>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Person</h2>
            <span flex></span>

        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">




            <form class="form-horizontal" role="form">
                <table class="ex2">
                    <tr>
                        <td colspan="2">
                            <div class="row">
                                <label class="col-lg-2 control-label">ID: </label>
                                <div class="col-lg-6">
                                    <input class="form-control" ng-model="personForEdit.id"  type="text" disabled  >
                                </div>
                            </div>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <label class="col-lg-3 control-label">firstName:</label>
                                <div class="col-lg-6">
                                    <input class="form-control" ng-model="personForEdit.firstName"  type="text">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <label class="col-lg-3 control-label">lastName:</label>
                                <div class="col-lg-6">
                                    <input class="form-control" ng-model="personForEdit.lastName" type="text">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <label class="col-lg-3 control-label">gender:</label>
                                <div class="col-lg-6">
                                    <input class="form-control"  ng-model="personForEdit.gender" type="text">
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="row">
                                <label class="col-lg-3 control-label">email:</label>
                                <div class="col-lg-6">
                                    <input class="form-control" ng-model="personForEdit.email" type="text">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <label class="col-lg-3 control-label">address:</label>
                                <div class="col-lg-6">
                                    <input class="form-control" ng-model="personForEdit.address" type="text">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <label class="col-lg-3 control-label">birthday:</label>
                                <div class="col-lg-6">
                                    <input class="form-control" ng-model="personForEdit.birthday" type="text">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <label class="col-lg-3 control-label">password:</label>
                                <div class="col-lg-6">
                                    <input class="form-control" ng-model="personForEdit.password" type="text">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <label class="col-lg-3 control-label">isAdmin:</label>
                                <div class="col-lg-6">
                                    <input class="form-control" ng-model="personForEdit.isAdmin" type="text">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>


            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <!--      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                  More on Wikipedia
              </md-button>
              <span flex></span>-->
        <md-button ng-click="EditPerson()">
            Save
        </md-button>
        <md-button ng-click="answer('useful')">
            Close
        </md-button>
    </md-dialog-actions>
  <!--   <label>
         person= {{personForEdit | json}}
     </label>-->

</form>
</md-dialog>
</script>













