<!--
Author: Ranjithprabhu K
Page Description: Rooms page
: 13 Jan 2016
-->
<style>
    .table tfoot .pagination{
        float: right;
        margin: 0;
        background: deepskyblue;
    }
</style>


<style>

    .datepickerdemoBasicUsage {
        /** Demo styles for mdCalendar. */ }
    .datepickerdemoBasicUsage md-content {
        padding-bottom: 200px; }
    .datepickerdemoBasicUsage .validation-messages {
        font-size: 12px;
        color: #dd2c00;
        margin: 10px 0 0 25px; }
</style>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Rooms To Order</h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Rooms</li>
        </ol>
    </section>
<script type="text/ng-template" id="dialog1.tmpl.html"><md-dialog aria-label="Choose Hour"  ng-cloak>
<form>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Choose Hour</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/roomimg.jpg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">


           <!-- <div class="text-center"  >-->
                <div class="row"  data-ng-repeat="x in vm.hours.development">
                    <div class="col-md-1">
                        <div class="well"> {{x.hour}}hhhhh </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="well"> You Choose Hour:</div>
                    </div>
                    <div class="col-md-6">
                        <div class="well">.col-md-6</div>
                    </div>
                </div>
<!--
            </div>
-->



        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
  <!--      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
            More on Wikipedia
        </md-button>
        <span flex></span>-->
        <md-button ng-click="answer('not useful')">
           Save
        </md-button>
        <md-button ng-click="answer('useful')">
           Close
        </md-button>
    </md-dialog-actions>
</form>
</md-dialog>
</script>
<!--
<div ng-click="vm.showAdvanced($event)">aaaa</div>
-->

<!--choose a date-->
<section class="content" style="min-height: 200px;">

    <div class="row">
        <div style='padding: 40px;' ng-cloak>
            <md-content>
                <h4>Choose a Date</h4>
                <md-datepicker ng-model="vm.myDate" md-placeholder="Enter date"></md-datepicker>

                <md-button class="md-raised md-primary" ng-click="vm.ShowRoomsInSelectedDates()" > GO <i class="fa fa-angle-double-right"></i></md-button>


            </md-content>
        </div>

    </div>

</section>
    <!-- All Rooms content -->
    <section class="content" ng-show="vm.showRooms">

        <div class="row">
            <h2>Rooms For Date: {{vm.myDate  | date:'MM/dd/yyyy' }}</h2>
<hr>
            <div class="col-lg-3 col-xs-6" data-ng-repeat="room in vm.roomsArray">
                <!-- small box -->


                <div class="small-box bg-yellow-gradient" ng-click="vm.showAdvanced($event)">

                    <div class="inner">
                        <h3>{{room.name}}<small class="text-black"></small></h3>
                        <p class="text-bold">{{room.description}}</p>
                    </div>
                    <div class="icon">
                        <i class="fa"><img src="images/icons/roomimg.jpg" class="img-responsive" width="70" /></i><!-- // to change picture-->
                    </div>
                    <div style="min-height: 10%">

                    </div>
                    <div class="progress progress-sm active">
                        <div class="progress-bar progress-bar-yellow progress-bar-striped" role="progressbar" aria-valuenow="yellow" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        </div>
                    </div>

                </div>

                <div class="img-responsive"  style="min-height: 10%">
            </div>
        </div>
            </div>
    </section>

    <section class="content-header">

    </section>




