<!--
Author: Ranjithprabhu K
Page Description: Dashboard Setting  page
Date: 05 Jan 2016
-->

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Setting

        </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Setting </li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
    <div class="row">
        <div >
            <div class="panel panel-info" style="min-height:300px;">
                <div class="panel-heading">
                    Edit Your Profile
                </div>
                <div class="panel-body">


                        <h2>  {{vm.userlocal.firstName}} &nbsp; {{vm.userlocal.lastName}} </h2>
                        <hr>

                         <!--    left column
                            <div class="col-md-3">
                                <div class="text-center">
                                    <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                                    <h6>Upload a different photo...</h6>

                                    <input type="file" class="form-control">
                                </div>
                            </div>
-->                            <!-- edit form column -->


                                <h3>Personal info</h3>

                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">ID:</label>
                                        <div class="col-lg-6">
                                            <input disabled class="form-control" type="text" ng-model="vm.userlocalToEdit.id" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">First name:</label>
                                        <div class="col-lg-6">
                                            <input class="form-control" type="text"  ng-model="vm.userlocalToEdit.firstName" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Last name:</label>
                                        <div class="col-lg-6">
                                            <input class="form-control" type="text"  ng-model="vm.userlocalToEdit.lastName" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Gender:</label>
                                        <div class="col-lg-6">
                                            <INPUT TYPE="radio" Name="Browser"  ng-model="vm.userlocalToEdit.gender" ng-checked="!vm.IsChecked" Value ="Male" >Male
                                            <INPUT TYPE="radio" Name= "Browser"  ng-model="vm.userlocalToEdit.gender" ng-checked="vm.IsChecked" Value ="Female">Female

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Email:</label>
                                        <div class="col-lg-6">
                                            <input class="form-control" type="text"  ng-model="vm.userlocalToEdit.email" required>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Address:</label>
                                        <div class="col-lg-6">
                                            <input class="form-control" type="text"  ng-model="vm.userlocalToEdit.address" required>
                                        </div>
                                    </div>




                                    <!--    <div class="row">


                                                    <label class="col-lg-3 control-label">Birthday:</label>
                                                    <div class="col-lg-6">
                                                        <input class="form-control" ng-model="vm.userlocalToEdit.birthday  | date :'dd/MM/yyyy'">
                                                 &lt;!&ndash;   <md-datepicker ng-model="vm.myDate" md-placeholder="Enter date"></md-datepicker>&ndash;&gt;
                                                    </div>




                                        </div>
-->
                                        `
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Password:</label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="password" ng-model="vm.userlocalToEdit.password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Confirm password:</label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="password"  ng-model="vm.userlocalToEdit.confirmPassword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-6">
                                            <input type="button" class="btn btn-primary"   ng-click="vm.saveChanges()" value="Save">
                                            <span></span>
                                            <input type="reset" class="btn btn-default"   ng-click="vm.cancel()" value="Cancel">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                   <!-- <form data-ng-submit="vm.submitForm();" name="vm.contactForm">
                        <md-content class="autoScroll">
                            <md-input-container class="md-icon-float md-block">
                                <label>Name</label>
                                <md-icon class="fa fa-user"></md-icon>
                                <input type="text" required name="name" data-ng-model="vm.message.name">
                            </md-input-container>

                            <md-input-container class="md-icon-float md-block">
                                <label>Phone</label>
                                <md-icon class="fa fa-phone"></md-icon>
                                <input type="text" required name="phone" data-ng-model="vm.message.phone" pattern="[0-9]{10,12}">
                            </md-input-container>

                            <md-input-container class="md-icon-float md-block">
                                <label>Email</label>
                                <md-icon class="fa fa-envelope"></md-icon>
                                <input type="email" required name="email" data-ng-model="vm.message.email">
                            </md-input-container>

                            <md-input-container class="md-icon-float md-block">
                                <label>Your Message</label>
                                <md-icon class="fa fa-clipboard"></md-icon>
                                <input type="text" required name="message" data-ng-model="vm.message.message">
                            </md-input-container>
                            <div class="pull-right">
                                <md-button class="md-raised md-primary" type="submit">Send <i class="fa fa-angle-double-right"></i></md-button>
                                <md-button class="md-raised md-warn" type="reset">Clear <i class="fa fa-trash-o"></i></md-button>
                            </div>
                        </md-content>
                    </form>-->
                </div>
            </div>
        </div>


    </div>

    </section><!-- /.content -->

