<!--
Author:Kholod Khatib
Page Description:  booksHandling page
Date: 15 Jan 2016
-->

<style>

    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
    }

    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }

    .rating > span:hover:before,
    .rating > span:hover ~ span:before {
        content: "\2605";
        position: absolute;
        left: 0;
        color: gold;
    }

    .NotGold {

    }

    .Gold {
        color: gold;
    }

    .blue {
        color: blue;
    }

</style>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Top Ten Books


    </h1>
    <br>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Top 10 Books</li>
    </ol>
</section>
<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
                <li class="time-label">
                    <span class="bg-red-gradient">
                       {{ vm.resultLength}} &nbsp; Here is The Top 10 Books:
                    </span>
                </li>
                <li ng-repeat="books in vm.booksArray">
                    <i class="fa bg text-white"> {{$index+1}}</i>

                    <div class="timeline-item">
                        <h3 class="timeline-header"><a href="http://kmitsolutions.com" target="_blank">
                            {{books.title}} </a>

                            <div class="rating pull-right">

                                <span ng-class="{'Gold':  books.case >=5, 'NotGold':books.case <5}"
                                      ng-click="vm.postRate(books,'5')">☆</span>
                                <span ng-class="{'Gold':  books.case >=4, 'NotGold':books.case <4}"
                                      ng-click="vm.postRate(books,'4')">☆</span>
                                <span ng-class="{'Gold':  books.case >=3, 'NotGold':books.case <3}"
                                      ng-click="vm.postRate(books,'3')">☆</span>
                                <span ng-class="{'Gold':  books.case >=2, 'NotGold':books.case <2}"
                                      ng-click="vm.postRate(books,'2')">☆</span>
                                <span ng-class="{'Gold':  books.case >=1, 'NotGold':books.case <1}"
                                      ng-click="vm.postRate(books,'1')">☆</span>
                            </div>
                        </h3>
                        <div class="timeline-body">
                            <table>
                                <tr>
                                    <div>
                                        <td><img src="images/recent/bookinfo.png" class=" img-lg"></td>
                                    </div>
                                    <td>
                                        <ul>
                                            <bold>
                                                <li><h4>Author : {{books.author }}</h4></li>
                                                <li>Description : {{books.description}}</li>
                                                <li>Language : {{books.language}}</li>
                                                <li>Category : {{books.category}}</li>
                                                <li>Publish Year : {{books.year}}</li>
                                            </bold>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="timeline-footer">
                            <p>
                                <span ng-class="{'label label-success': books.bookStatus == 'Available', 'label label-danger':  books.bookStatus == 'Not Available'}">{{books.bookStatus}}</span>
                                <!--   <span class="label label-success">{{books.bookStatus}}</span>-->
                                <span class="pull-right">

                                    <button ng-show="books.bookStatus == 'Available'" class="btn btn-warning"
                                            ng-click="vm.showOrderBook($event,books)">Order Book
                                    </button>

                                     <button ng-show="books.bookStatus == 'Not Available' && vm.isToFollow(books) && books.user!=vm.user_ID"
                                             class="btn btn-twitter"
                                             ng-click="vm.followBook($event,books,'follow')">Follow Book
                                     </button>

                                    <button ng-show="books.bookStatus == 'Not Available' && !vm.isToFollow(books)"
                                            class="btn btn-facebook"
                                            ng-click="vm.followBook($event,books,'unfollow')">UnFollow Book
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-arrows bg-gray"></i>
                </li>
            </ul>
        </div>
        <!-- /.col -->
    </div>
</section><!-- /.content -->






